.App{
  background-color: #070c1f;

}
.hero{
  min-height: 90vh;
}
.hero-txt h1{
 font-size: 5rem;
}
/* .header{
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: #070c1f; 
  
} */
.header nav a{
  text-decoration: none;
  margin-right: 20px;
  padding: 5px;
}
.navbar-link{
  margin-left: 20%;
}
.header hr{
  background-color: aqua;
}
.services{
  min-height: 170vh;
}
.my-card{
  background-color: #070c1f; 
}
.service-details{
  min-height: 100vh;
}
.shedule-img{
  margin-left: 33%;
}
.login-form{
  min-height: 100vh;
}

.apoinment{
  min-height: 100vh;
}
.apoinment-input input{
    background-color: #070c1f;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-bottom: 1px solid aqua;
}
.login-input input{
    background-color: #070c1f;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-bottom: 1px solid aqua;
    color: azure;
}

.label{
  font-size: 1.3rem;
}
.contact{
  min-height: 100vh;
}
.contact-container{
  background-color: #e9edee ;
  min-height: 50vh;
}
.popup img{
  background-color: azure;
  /* height: 50px; */
  /* width: 50px; */
  /* padding: 20px; */
  transition: all .2s ease-in-out; 
}
.popup img:hover {
  transform: scale(1.1); 
}
.call-work{
  line-height: 0.5em;
}
.footer hr{
  background-color: aqua;
}
.footer-txt {
  line-height: .5em;
}
.footer-link{
  line-height: .5em;
}
