.App{
  background-color: #070c1f;

}
.hero{
  min-height: 90vh;
}
.hero-txt h1{
 font-size: 5rem;
}
.header{
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: #070c1f; 
}
.header nav a{
  text-decoration: none;
  margin-right: 20px;
  padding: 5px;
}
.navbar-link{
  margin-left: 20%;
}
.header hr{
  background-color: aqua;
}
.services{
  min-height: 170vh;
}
.my-card{
  background-color: #070c1f; 
}
.service-details{
  min-height: 100vh;
}
.shedule-img{
  margin-left: 33%;
}
.login-form{
  min-height: 100vh;
}